@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/functions" as *;
@use "../base/media-queries" as *;

.header {
    &__top {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(16) 0 rem(16) 0;
    }
    &__dark-theme-button {
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: $neutral100;
        width:rem(32);
        height:rem(32);
        border-radius: rem(6);
        border:none;
        cursor: url("../../../assets/images/cursor-pointer.png"), auto;
    }
    &__title {
        @include text-preset1-mobile;
        text-align: center;
        font-family: "DMSans Bold";
        font-weight: 800;
        margin: rem(40) 0 rem(40) 0;
        
    }
    &__textarea-container {
        width: 100%;
        display:flex;
        flex-direction: column;
        
        textarea {
            resize:none;
            width:100%;
            height:rem(200);
            border-radius: rem(12);
            border: solid 4px $neutral200;
            background-color: $neutral100;
            padding:rem(16) rem(16) 0 rem(16);
            @include text-preset3;
            color: $neutral700;
            outline-color: $purple500;
            transition: border-color 0.3s ease-in-out;
            transition: box-shadow 0.5s ease-in-out;
            &:hover { box-shadow: 0px 0px 12px 1px $purple500; }
            &:focus:hover { box-shadow: none; }
        }
        .error-message {
            display:none;
            flex-wrap: wrap;
            color:$orange500;
            margin-top: rem(4);
            @include text-preset4;
            img {
                margin-right: 8px;
            }
            span {
                margin:0 3px 0 3px;
            }
        }
        &--checkboxes { // CHECKBOXS CUSTOMISATION
            display:flex;
            flex-direction: column;
            row-gap: rem(7);
            margin-top: rem(16);
            div {
                position: relative;
                display: flex;
                align-items: center;
                input#exclude-cbx { display: none !important; }
                input#set-char-cbx { display: none !important; }
                input#set-limit-field {
                    display:none;
                    width:rem(70);
                    min-width:rem(70);
                    margin-left: rem(10);
                    padding:rem(4) rem(12);
                    border-radius: rem(7);
                    border-color: $neutral600;
                    outline-color: $purple500;
                    outline-width: 3px;
                    border-width: 2px;
                }
                span {
                    font-weight: 500;
                }
                label {
                    position: relative;
                    top: 1px;
                    width: 16px;
                    height: 16px;
                    border: 1px solid black;
                    border-radius: 4px;
                    transition: background 0.1s ease;
                    cursor: pointer;
                    display: block;
                    margin-right: rem(10);
                }
                label::after {
                    content: '';
                    position: absolute;
                    top: 1px;
                    left: 4px;
                    width: 4px;
                    height: 8px;
                    opacity: 0;
                    transform: rotate(45deg) scale(0);
                    border-right: 2px solid #000;
                    border-bottom: 2px solid #000;
                    transition: all 0.3s ease;
                    transition-delay: 0.15s;
                }
                input:checked ~ label {
                    border-color: transparent;
                    background: $purple500;
                    animation: jelly 0.6s ease;
                }
                input:checked ~ label::after {
                    opacity: 1;
                    transform: rotate(45deg) scale(1);
                }
                input:checked ~ #set-limit-field {
                    display:inline-block;
                }
            }
        }
        textarea::-webkit-scrollbar { display:none; }
    }
}
@keyframes jelly { from { transform: scale(1, 1); } 30% { transform: scale(1.25, 0.75); } 40% { transform: scale(0.75, 1.25); } 50% { transform: scale(1.15, 0.85); } 65% { transform: scale(0.95, 1.05); } 75% { transform: scale(1.05, 0.95); } to { transform: scale(1, 1); }  }

@include tablet-media {
    .header {
        &__title {
            width:530px;
            @include text-preset1;
        }
        &__title-wrapper {
            display:flex;
            justify-content: center;
        }
        &__textarea-container {
            textarea {
                padding: rem(20) rem(20) 0 rem(20);
            }
            &--checkboxes {
                flex-direction: row;
                justify-content: flex-start;
                .reading-time-container {
                    margin-left:auto;
                    font-size: rem(17);
                    span {
                        margin-left: 5px;

                    }
                }
            }
        }
        &__textarea-checkbox:first-child {
            margin-right: rem(24);
        }
         //DELETE DEFAULT ARROWS IN THE INPUT FOR CHANGE NUMBER
        &__textarea-checkbox.set-limit {
            input {
                -moz-appearance: textfield;
                appearance: textfield;
            }
            input::-webkit-inner-spin-button,   
            input::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}
@include desktop-media {
    .header {
        &__top {
            padding:rem(32) 0 rem(16) 0;
        }
        &__dark-theme-button {
            width:rem(44);
            height:rem(44);
            img {
                
                height:30px;
            }
        }
    }
}