@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/functions" as *;
@use "../base/media-queries" as *;

.results {
    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: rem(16);
        margin:rem(40) 0 rem(24) 0;
    }
    &__block {
        display:flex;
        justify-content: space-between;
        background-color: $purple400;
        border-radius: rem(12);
        padding: rem(20);
        overflow: hidden;
        position: relative;
        &--text {
            display:flex;
            flex-direction: column;
            row-gap: rem(8);
            span { @include text-preset1-mobile; font-family: "DMSans Bold"}
            p { @include text-preset3; }
            z-index:1;
        }
        &--img {
            position:absolute;
            right:-50px;
            top:-16px;
            z-index:0;
        }
    }
    &__block.word-count-block { background-color: $yellow500; }
    &__block.sentence-count-block { background-color: $orange500;}
}
@include tablet-media {
    .results {
        &__wrapper {
            flex-direction: row;
            column-gap: rem(16);
            justify-content: space-between;
        }
        &__block {
            min-width:32%;
            padding:rem(16) rem(12);
            &--text {
                span {
                    @include text-preset1;
                }
            }
            &--img {
                right: -73px;
                top: -9px;
            }
        }
    }
}
@include desktop-media {
    .results {
        &__block {
            padding:rem(16);
            &--img {
                right:-30px;
            }
        }
    }
}