/**
 * ----------------------------------------
 * animation flip-vertical-right
 * ----------------------------------------
 */
@-webkit-keyframes flip-vertical-right {
    0% { -webkit-transform: rotateY(0); transform: rotateY(0); }
    100% { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
}
@keyframes flip-vertical-right {
    0% { -webkit-transform: rotateY(0); transform: rotateY(0); 
    }
    100% { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
}

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}