@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/functions" as *;
@use "../base/media-queries" as *;

.container {
    padding: 0 rem(16) 0 rem(16);
}
body {
    font-family: "DMSans Regular";
    color:$neutral900;
    @include text-preset4;
    background:url("../../../assets/images/bg-light-theme.png");
    transition: background 0.5s ease-in-out;
}
body::selection {
    background-color: $purple500;
    color:$neutral0;
}
@include tablet-media { .container {  padding: 0 rem(32) 0 rem(32); } }
@include xl-tablet-media { .container { padding: 0 rem(100) 0 rem(100); } }
@include desktop-media { .container { padding: 0 rem(225) 0 rem(225); } }
