
@font-face {
    font-family: "DMSans Bold";
    src: url("../../../assets/fonts/DM_Sans/static/DMSans-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight:700;
}

@font-face {
    font-family: "DMSans Regular";
    src: url("../../../assets/fonts/DM_Sans/static/DMSans-Regular.woff2") format("woff2");
    font-style: normal;
}
@font-face {
    font-family: "DMSans SemiBold";
    src: url("../../../assets/fonts/DM_Sans/static/DMSans-SemiBold.woff2") format("woff2");
    font-style: normal;
}