
@font-face {
    font-family: "DMSans Bold";
    src: url("../assets/fonts/DM_Sans/static/DMSans-Bold.ttf") format("truetype");
    // font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "DMSans Regular";
    src: url("../assets/fonts/DM_Sans/static/DMSans-Regular.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "DMSans SemiBold";
    src: url("../assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}