
@mixin text-preset1 { font-size: 64px; line-height: 100%; letter-spacing: -1px; }
@mixin text-preset1-mobile { font-size: 40px; line-height: 100%; letter-spacing: -1px; }
@mixin text-preset2 { font-size: 24px; line-height: 130%; letter-spacing: -1px; }
@mixin text-preset3 { font-size: 20px; line-height: 140%; letter-spacing: -0.6px; }
@mixin text-preset4 { font-size: 16px; line-height: 130%; letter-spacing: -0.6px; }

