
$neutral900: #12131A;
$neutral800:#21222C;
$neutral700:#2A2B37;
$neutral600:#404254;
$neutral200:#E4E4EF;
$neutral100:#F2F2F7;
$neutral0:#FFFFFF;

$purple400:#D3A0FA;
$purple500:#C27CF8;

$yellow500:#FF9F00;

$orange500:#FE8159;
$orange800:#DA3701;

// breakpoints for media queries

$tablet:768px;
$desktop:1440px;